<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <title>TABLEizer - Converts tabular data into formatted HTML (or fixed width text columns)</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link  href="https://rawgit.com/devotis/tableizer/master/resources/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="https://rawgit.com/devotis/tableizer/master/resources/css/css-classes.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="https://rawgit.com/devotis/tableizer/master/resources/css/screen2.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="https://rawgit.com/devotis/tableizer/master/resources/css/dragndrop.css" rel="stylesheet">
  <link  href="https://rawgit.com/devotis/tableizer/master/resources/css/loading-bar.css" rel="stylesheet">
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/dragndrop.js"></script>
</head>

<body>
<div class="container" ng-controller="MainCtrl">
    <div class="banner clear">
      <div class="left">
        <h1 id="headerText">
          TABLEizer
        </h1>
        <h3>
          Converts tabular data into formatted HTML<br />(or fixed width text columns)
        </h3>

        <p>Want more from TABLEizer? Let me know at chris@devotis.nl.</p>
      </div>
      <div class="right span-12 unimportant" style="text-align: right;">
        <div>
          <a href="http://devotis.nl"><img src="http://devotis.nl/img/logo.png"></a>
        </div>
        <div>
          A tool from Devotis. <a href="https://www.github.com/devotis/tableizer" id="sourceLink" onclick="javascript: pageTracker._trackPageview('/sourceLink');" name="sourceLink">Source is on GitHub.</a><br>
          Inspired by tableizer.journalistopia.com which is server side<br />
          This is pure Javascript on the client-side.<br />
          And this transposes too.<br />
          What, draggable columns too?!
        </div>
      </div>
    </div>
    <hr>
    <!-- Start copy here to gh-pages version of index.html -->
    <div style="padding-right: 10px;">
      <textarea
        ng-model="source"
        ng-change="transform()"
        rows="30" cols="100"
        spellcheck="false"
        placeholder="Paste tabular data here."
        wrap="off"
        style="resize: both; width: 100%;"></textarea>
      <input
        ng-model="array"
        json-text
        disabled
        style="width: 100%; margin: 0.4em 0em;">
      <input
        type="button"
        value="transpose"
        ng-click="transpose()"
      >
      &nbsp;&nbsp;&nbsp;
      <input
        type="text"
        ng-model="findValue"
        placeholder="find what"
        style="width: 80px;"
      >
      <input
        type="text"
        ng-model="replaceValue"
        placeholder="replace with"
        style="width: 80px;"
      >
      <input
        type="button"
        value="replace"
        ng-click="findReplace()"
        style="width: 80px;"
      >      
      <input
        type="button"
        value="remove empty lines"
        ng-click="removeEmptyLines()"
      >
      &nbsp;&nbsp;&nbsp;format:
      <input
        type="radio"
        ng-model="format"
        name="format"
        value="html"
      > html
      <input
        type="radio"
        ng-model="format"
        name="format"
        value="text"
      > text
      &nbsp;&nbsp;&nbsp;
      <input
        type="button"
        value="select all"
        ng-click="selectAll()"
        style="width: 80px;"
      >     
      &nbsp;&nbsp;&nbsp;
      <a ng-click="isFaqOpen = !isFaqOpen">faq</a>
    </div>
    <span
      ng-bind-html="message | unsafe"
      class="unimportant"></span>
    <div
      ng-bind-html="target | unsafe"
      id="target"
      style="width: 100%; height: 250px; overflow: auto;"></div>
    <!-- End copy here to gh-pages version of index.html -->
    <div ng-show="isFaqOpen">
      <h3>
        FAQ
      </h3>
      <hr>
      <div id="faqAccordion">
        <h5>
          What is TABLEizer?
        </h5>
        <div>
          <p>
            A tool that converts tabular data into formatted HTML or fixed width text columns.
          </p>
        </div>
        <h5>
          Do you log my data?
        </h5>
        <div>
          <p>
            No, this is a client side tool. All is done with Javascript. None of your tabular data is sent to the server.
          </p>
        </div>
        <h5>
          Who made this?
        </h5>
        <div>
          <p>
            <a href="http://www.umbrae.net/">Christiaan Westerbeek</a> made it. Or, more appropriate maybe, glued it. Lots was lended.
            <ul>
              <li>Table css for the formatted output by Danny Sanchez (http://tableizer.journalistopia.com/).</li>
              <li>Draggable columns by Romulo do Nascimento Ferreira (http://bytes.com/topic/javascript/insights/750692-drag-drop-table-columns-new-version-explained).</li>
              <li>Page layout from jsonlint.org.</li>
              <li>Transposition thanks to a oneliner of lodash (https://lodash.com/docs#zip).</li>
              <li>And last but not least Angular for not having to fiddle with the DOM myself.</li>
            </ul>
          </p>
        </div>
        <h5>
          I've got feedback!
        </h5>
        <div>
          Excellent. Tell me about it. chris@devotis.nl.
        </div>
      </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/loading-bar.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/app.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/services.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/controllers.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/filters.js"></script>
  <script src="https://rawgit.com/devotis/tableizer/master/resources/js/directives.js"></script>
</body>
</html>