<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <title>TABLEizer</title>
  <meta charset="UTF-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link  href="resources/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="resources/css/css-classes.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="resources/css/screen2.css" rel="stylesheet" type="text/css" media="screen, projection">
  <link  href="resources/css/dragndrop.css" rel="stylesheet">
  <script src="resources/js/dragndrop.js"></script>
</head>

<body>
<div class="container" ng-controller="MainCtrl">
    <div class="banner clear">
      <div class="left">
        <h1 id="headerText">
          TABLEizer
        </h1>
        <h3>
          Converts tabular data into formatted HTML
        </h3>

        <p>Want more from TABLEizer? Let me know at chris@devotis.nl.</p>
      </div>
      <div class="right span-12 unimportant" style="text-align: right;">
        <div>
          <a href="http://devotis.nl"><img src="http://devotis.nl/img/logo.png"></a>
        </div>
        <div>
          A tool from Devotis. <a href="https://www.github.com/devotis/tableizer" id="sourceLink" onclick="javascript: pageTracker._trackPageview('/sourceLink');" name="sourceLink">Source is on GitHub.</a><br>
          More info in the demo
        </div>
      </div>
    </div>
    <hr>
    <div style="padding-right: 10px;">
      <textarea
        ng-model="source"
        ng-change="transform()"
        rows="30" cols="100"
        spellcheck="false"
        placeholder="Paste tabular data here."
        wrap="off"
        style="resize: both; width: 100%;"></textarea>
      <input
        type="button"
        value="transpose"
        ng-click="transpose()"
      >
      <input
        type="checkbox"
        ng-model="dedupmulti"
        ng-change="transform()"
      > deduplicate multiple consecutive line breaks
    </div>
    <hr>
    <span ng-bind-html="message | unsafe" class="unimportant"></span>
    <div ng-bind-html="target | unsafe" style="width: 889px; max-width: 883px;"></div>
    <div id="faq" class="hide">Not maintained here. Go to the demo to read the faq</div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>
  <script src="resources/js/angular-loadscript.js"></script>
  <script src="resources/js/app.js"></script>
  <script src="resources/js/services.js"></script>
  <script src="resources/js/controllers.js"></script>
  <script src="resources/js/filters.js"></script>
  <script src="resources/js/directives.js"></script>
</body>
</html>